* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(46, 46, 46);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#top-nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  background-color: rgb(39, 39, 39);
  font-size: 20px;
  font-family: 'Staatliches', cursive;
}

#top-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.header-content {
  background-image: url(/images/bg-header.jpg);
  background-size: cover;
  background-position: 100% 100%;
  padding: 20px 20px 20px;
  font-family: 'Kufam', cursive;
  color: white;
}

.header-content #hello {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin-bottom: 10px;
  text-align: left;
}

.header-content .title-name {
  font-weight: bold;
  font-size: 6em;
}

.header-content .intro-text {
  font-size: 1.5em;
}

main {
  text-align: justify;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: 33%;
  line-height: 150%;
  font-weight: bold;
}

.skills {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  height: 60px;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(10, 10, 10);
}

#linkedin {
  width: 40px;
}

#footer-info {
  width: 140px;
  font-family: 'Staatliches', cursive;
  color: white;
}
